@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&family=Roboto:wght@300;500&display=swap");
#header {
  width: 100%;
  font-size: 20px;
  background-color: #254ac2;
  background-image: url(../img/fondo\ backg.png);
}

.header__logo {
  font-family: "Roboto", sans-serif;
  padding: 0px 40px;
  font-size: 40px;
  color: #ffff;
}

#menutext {
  font-size: 20px;
}

.jumbotron {
  width: 100vw;
  height: 450px;
}

main img {
  padding: 25px;
}
main p {
  font-size: 16px;
  padding: 25px;
}
main p span {
  font-size: 20px;
  padding: 20px;
}

/* ***** PRODUCTOS ***** */
.pet-icon {
  background-image: url("../img/pet.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pead-icon {
  background-image: url("../img/pead.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pvc-icon {
  background-image: url("../img/pvc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pp-icon {
  background-image: url("../img/pp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.conteiner__div {
  height: 200px;
}

.contenedor__imagen {
  align-items: center;
  justify-content: center;
  background-image: url(../img/bot_back.jpeg);
  background-size: contain;
}

.contenedor__subtitulo {
  padding: 10px;
  color: #254ac2;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
}

.contenedor__texto {
  width: 75%;
  font-size: 25px;
  font-weight: bold;
  color: #ffff;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.322);
  border-radius: 5px;
}

/* ***** NOSOTROS ***** */
.conten__div {
  height: 200px;
}

.conten__historia {
  height: auto;
  padding: 5px 6px;
  font-size: 12px;
}
.conten__historia span {
  padding: 5px 5px;
  font-weight: bold;
}

.conten__proposito {
  width: 95%;
  height: auto;
  padding: 12px 5px;
  font-size: 12px;
}
.conten__proposito span {
  padding: 5px 5px;
  font-weight: bold;
}

.content__imgnav {
  margin: 10px 10px;
  height: 100px;
  background-image: url(../img/imgnav.jpg);
  background-position: center;
  background-size: contain;
  justify-content: center;
  background-repeat: no-repeat;
}

/* **************************** PRODUCTOS*************************** */
.productos__div {
  text-align: center;
  border: 5px solid #ffff;
}
.productos__div img {
  width: 260px;
  height: 300px;
}

.productos__descrip {
  padding: 7px 0px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}

.productos__texto {
  font-weight: bold;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
}

/* **************************** CONTACTO *************************** */
.textoep {
  font-size: 14px;
  padding: 15px 15px 15px 15px;
  margin-left: 20px;
}

.mapa {
  text-align: center;
  align-content: center;
  padding: 30px 30px;
}

.titulos {
  background-color: rgba(37, 74, 194, 0.37);
  text-shadow: 2px 2px rgba(37, 74, 194, 0.37);
  text-align: center;
}

.datosep {
  text-shadow: 2px 2px rgba(37, 74, 194, 0.37);
  text-align: center;
}

.contenedor__servicios {
  justify-content: center;
  width: 75%;
  background: #22c3ae;
  background: linear-gradient(0deg, #22c3ae 0%, #2db6fd 100%);
  border-radius: 20px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.747);
  padding: 20px;
  margin-bottom: 25px;
}

.servicios {
  text-align: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.322);
  width: 300px;
  height: 300px;
  color: black;
  border: 1px solid grey;
  padding: 10px;
  margin: 20px;
  text-shadow: #CCC 1px 0 10px;
}

.footer {
  display: flex;
  min-height: 15vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(140, 140, 140, 0.357);
}

.footer__logo img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.footer__logo {
  order: 2;
}

.footer__texto {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #254ac2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  font-family: "Montserrat", sans-serif;
}

/* **************************** CONTENEDOR*************************** */
/* SECTION UTILIZADAS EN INDEX Y PRODUCTOS */
.conten__div {
  height: 200px;
}

.conten__historia {
  height: auto;
  padding: 12px 5px;
  font-size: 12px;
}

.conten__historia span {
  padding: 5px 5px;
  font-weight: bold;
}

.conten__proposito {
  width: 95%;
  height: auto;
  padding: 12px 5px;
  font-size: 12px;
}

.conten__proposito span {
  padding: 5px 5px;
  font-weight: bold;
}

.content__imgnav {
  margin: 10px 10px;
  height: 100px;
  background-image: url(../img/imgnav.jpg);
  background-position: center;
  background-size: contain;
  justify-content: center;
  background-repeat: no-repeat;
}

/* **************************** PRODUCTOS*************************** */
.productos__div {
  background-color: #ffff;
  text-align: center;
  border: 5 solid #ffff;
}
.productos__div img {
  width: 260px;
  height: 300px;
}

.productos__descrip {
  padding: 7px 0px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}

.pd {
  font-weight: bold;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
}

.textoep {
  font-size: 13;
  padding: 15px;
}

.mapa {
  padding: 30px 30px;
}

/*# sourceMappingURL=estilos.css.map */
