.footer{
    display: flex;
    min-height: 15vh;
    width: 100%;
    justify-content: space-evenly;  
    align-items: center;
    background-color: rgba(140, 140, 140, 0.357);
}
.footer__logo img{
   display: inline-block;
    width: 25px;
    height: 25px;
 
}
.footer__logo{
    order: 2;
}
.footer__texto{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: $color-primaty;
}
