//paleta de colores
$color-base: #ffff ;
$color-primaty:rgb(37, 74, 194) ;
$color-primity-transp: rgba(37, 74, 194, 0.37);
$color-black-transp: rgba(34, 34, 34, 0.322);

@mixin tx($fontZ, $pad) {
    font-size: $fontZ;
    padding: $pad;
    
 }
 

main{
    img{
        padding: 25px;
    }
     p{
        @include tx(16px, 25px);
        
        span{
             @include tx(20px, 20px);
            }
    }
}

/* ***** PRODUCTOS ***** */

@each $envase in pet , pead , pvc , pp {
    .#{$envase}-icon {
        background-image: url("../img/#{$envase}.png");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
}
.conteiner__div{
    height: 200px;
}
.contenedor__imagen{
    align-items: center;
    justify-content: center;
    background-image: url(../img/bot_back.jpeg);
    background-size:contain;    
}
.contenedor__subtitulo{
    padding: 10px;
    color: $color-primaty;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
}
.contenedor__texto{
    width: 75%;
    font-size: 25px;
    font-weight: bold; 
    color: #ffff;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.322);
    border-radius: 5px;
}

/* ***** NOSOTROS ***** */

            .conten__div{
 
                height: 200px;
            }
            .conten__historia{
               
                height: auto;
                padding: 5px 6px;
                font-size: 12px;
                span{
                    padding: 5px 5px;
                    font-weight: bold;
                }
            }
            
            
            .conten__proposito{
                width: 95%;
                height: auto;
                padding: 12px 5px;
                font-size: 12px;
                span{
                    padding: 5px 5px;
                    font-weight: bold;
                }
            }
            .content__imgnav{
                margin: 10px 10px;
                height: 100px;
                background-image: url(../img/imgnav.jpg);
                background-position: center;
                background-size:contain;
                justify-content: center;
                background-repeat: no-repeat;
            }
            
            
/* **************************** PRODUCTOS*************************** */
        

            .productos__div{  
                text-align: center;
                border: 5px solid #ffff;
                img{
                    width: 260px;   
                    height: 300px;
                }
               
            }
            .productos__descrip{
                padding: 7px 0px;
                text-align: center;
                font-size: 12px;
                font-weight: bolder;
               
            }
            .productos__texto{
                font-weight: bold;
                padding: 10px 0px;
                font-size: 20px;
                font-weight: bold;
            }

/* **************************** CONTACTO *************************** */
            .textoep{
                font-size: 14px;
                padding: 15px 15px 15px 15px;
                margin-left: 20px;
               
            }
            .mapa
            {
                text-align: center;
                align-content: center;
                padding: 30px 30px;
            }
            .titulos{
                background-color: $color-primity-transp;
                text-shadow: 2px 2px $color-primity-transp;
                text-align: center;
                
            }
            .datosep{
                text-shadow: 2px 2px $color-primity-transp;
                text-align: center;
            }

  // SERVICIOS

.contenedor__servicios{    
    justify-content: center;    
    width: 75%;
    background: rgb(34,195,174);
background: linear-gradient(0deg, rgba(34,195,174,1) 0%, rgba(45,182,253,1) 100%);
     //poner imagen de pavan zanetti;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.747);
    padding: 20px;
    margin-bottom: 25px;
   }
.servicios{
    text-align: center;
    justify-content: center;
    background-color: $color-black-transp;
    width: 300px;
    height: 300px;
    color: black;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
    text-shadow: #CCC 1px 0 10px;
  
}
