@import "header";
@import "jumbotron";
@import "main";
@import "footer";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&family=Roboto:wght@300;500&display=swap');

$color-primaty:rgb(37, 74, 194) ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif; 
}






/* **************************** CONTENEDOR*************************** */
            /* SECTION UTILIZADAS EN INDEX Y PRODUCTOS */

.conten__div{
 
    height: 200px;
}
.conten__historia{
   
    height: auto;
    padding: 12px 5px;
    font-size: 12px;
}
.conten__historia span{
    padding: 5px 5px;
font-weight: bold;
}

.conten__proposito{
    width: 95%;
    height: auto;
    padding: 12px 5px;
    font-size: 12px;
}

.conten__proposito span{
    padding: 5px 5px;
font-weight: bold;
}
.content__imgnav{
    margin: 10px 10px;
    height: 100px;
    background-image: url(../img/imgnav.jpg);
    background-position: center;
    background-size:contain;
    justify-content: center;
    background-repeat: no-repeat;
}



/* **************************** PRODUCTOS*************************** */

.productos__div{  
    text-align: center;
    border: 5px solid #fff;
    img{
        width: 260px;   
        height: 300px;
    }
}
.productos__descrip{
    padding: 7px 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
   
}
.pd{
    font-weight: bold;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}
.textoep{
    font-size: 13;
    padding: 15px;
}
.mapa
{
    padding: 30px 30px;
}

