$color-primaty:rgb(37, 74, 194) ;

#header  { 
    padding: 7px;
     background-color:$color-primaty;
    background-image: url(img/fondo\ backg.png);
  
}
.header__logo{
    font-family: 'Roboto', sans-serif;
    padding: 0px 25px;
    font-size: 30px;
    color:rgb(255, 255, 255);
}
